NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_S9Eii4B7I3owx-Qp4pluhA_mxyD0MXZ
NEXT_PUBLIC_APP_URL=https://hakimi-auto.vercel.app
TIKTOK_CLIENT_KEY=awbbsr47sonlrs3o
TIKTOK_CLIENT_SECRET=DocLTOLX1VdwLbXtg6g2b4Et6yOAJcFP
TIKTOK_REDIRECT_URI=https://hakimi-auto.vercel.app/api/tiktok/callback
